.place__paragraph-box {
    max-width: 100%;
}

@media screen and (max-width: 686px) {
    .place__paragraph-box {
        margin-right: 16px;
        margin-left: 16px;
        max-width: calc(100% - 32px);
    }
}
