.photo-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 16px;
    max-width: calc(100% - 96px);
    margin: 0 auto;
}

@media screen and (max-width: 1140px) {
    .photo-grid {
        grid-gap: 14px;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 984px) {
    .photo-grid {
        max-width: calc(100% - 48px);
        grid-gap: 16px;
        grid-template-columns: repeat(2, 1fr);        
    }
}

@media screen and (max-width: 568px) {
    .photo-grid {
        max-width: calc(100% - 32px);
        grid-template-columns: repeat(1, 1fr);        
    }
}