.footer__link {
    max-width: 106px;
    margin-right: 18px;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-decoration: none;
    color: #fff;
    opacity: 1;
}

.footer__link:hover {
    transition: linear .2s;
    opacity: .5;
}