.footer__links {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 18px;
}

@media screen and (max-width: 688px) {
    .footer__links {
        margin-bottom: 48px;
        flex-direction: column;
        gap: 32px;
    }
}