.place {
    font-family: 'Inter', Arial, sans-serif;
    display: grid;
    grid-template-columns: repeat(2, minmax(min-content, 1fr));
    column-gap: 40px;
    row-gap: 48px;
    max-width: calc(100% - 296px);
    margin: 0 auto 80px; /*от блока до блока*/
    /*padding: 0 148px;*/ 
}

.place:last-of-type {
    margin-bottom: 0;
}

@media screen and (max-width: 1124px) {
    .place {
        max-width: calc(100% - 96px);
        column-gap: 40px;
    }
}

@media screen and (max-width: 984px) {
    .place {
        max-width: calc(100% - 48px);
        column-gap: 28px;
        margin: 0 auto 73px;
    }
}

@media screen and (max-width: 568px) {
    .place {
        max-width: 100%;
        column-gap: 16px;
        row-gap: 32px;
        margin: 0 auto 50px;
    }
}

